{% extends "layout.html" %}

{% block content %}

{% if title %}
<h3>{{title}}</h3>
{% endif %}

{% for pic in photos_list %}
<a href="/imageDetails/{{pic.id}}"><img src="{{pic.thumbnail}}"></a>
{% endfor %}

<div style="display: grid; grid-template-columns: 1fr 1fr; text-align: center;">
    {% if prev_page >= 1 %}
    {% if prefix %}
    <a href="/{{prefix}}/{{prev_page}}" class="next" style="margin: 10px;">Next &raquo;</a>
    {% else %}
    <a href="/{{prev_page}}" class="next" style="margin: 10px;">Next &raquo;</a>
    {% endif %}
    {% else %}
    <p class="previous" style="margin: 10px;">&laquo; Previous</p>
    {% endif %}
    {% if prefix %}
    <a href="/{{prefix}}/{{next_page}}" class="next" style="margin: 10px;">Next &raquo;</a>
    {% else %}
    <a href="/{{next_page}}" class="next" style="margin: 10px;">Next &raquo;</a>
    {% endif %}
</div>

{% endblock %}
